<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="user9Entities" connectionString="metadata=res://*/TestMasterDBModel.csdl|res://*/TestMasterDBModel.ssdl|res://*/TestMasterDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.14.206.28;persist security info=True;user id=user9;password=&amp;6hM#c3h;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
